/* AppBar styling */
.app-bar {
	background-color: #322f35 !important;
	min-height: 72px !important;
}

.tool-bar {
	min-height: 72px !important;
}

/* Drawer close icon styles */
.close-icon {
	color: white !important;
}

/* Menu icon in AppBar */
.menu-icon {
	color: white !important;
}

/* Run Settings title in Drawer */
.run-settings-title {
	color: white !important;
}

.header-tab {
	font-weight: 200;
    font-size: 32px;
    color: #d0bcff;
}

.header-board {
	font-weight: 600;
    font-size: 32px;
    color: #6750a4;
}

.add-node-button {
	color: #6750a4 !important;
	background-color: #d0bcff !important;
	border-radius: 9999px !important;
	padding: 6px 16px !important;
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	border: none !important;
	text-transform: none !important;
	margin-right: 10px !important;
}
