.node-title {
	font-size: 14px !important;
}

.node-resp-container {
	display: flex;
	align-items: center;
	text-align: center;
	padding-left: 20px !important;
	padding-right: 20px !important;
	justify-content: space-between;
}

.node-response {
	word-break: break-word !important;
	font-weight: 200 !important;
	font-size: 12px !important;
	color: #322f35 !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	max-width: 200px !important;
}