/* Main container for the tab node */
.tab-node {
	border: 1px solid #D0BCFF;
	border-radius: 12px;
	padding: 10px;
	background-color: #fff;
	width: 180px;
	position: relative;
	align-items: stretch;
	cursor: pointer;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.edit-title-button {
	color: #322F35 !important;
	background-color: #F1E9FF !important;
	border-radius: 9999px !important;
	padding: 5px 12px !important;
	display: inline-flex !important;
	align-items: center !important; 
	justify-content: center !important; 
	font-size: 10px !important;
	font-weight: 500 !important;
	border: none !important;
	text-transform: none !important;
}

.edit-title-button .edit-icon {
	font-size: 14px !important;
}

/* Header styling */
.tab-node-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Title typography with overflow handling */
.tab-node-title {
	font-weight: 400 !important;
	font-size: 16px;
	color: #322F35;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 200px; /* Ensure title doesn’t overlap the icon */
}

/* Action icons styling (MoreVertIcon) */
.tab-node-actions .MuiIconButton-root {
	padding: 2px;
}

/* Divider line */
.tab-node-divider {
	margin: 5px 0;
	background-color: #e0e0e0;
}

/* Container for action icons */
.tab-node-actions-container {
	display: flex;
	justify-content: space-around;
	padding: 4px 0;
}

/* Icon button styling within the actions container */
.tab-node-actions-container .MuiIconButton-root {
	color: #555;
	padding: 4px;
}

/* Handle positioning */
.tab-node .react-flow__handle {
	width: 8px;
	height: 8px;
	background: #666;
	border-radius: 50%;
}